{% extends 'base.html' %}
{% block content %}

    {% for p in items %}

    <div class="post">
        <a href="{{ url_for('onepost_page', post_id=p.id) }}">
            <div class="post-image">
                <img src="{{ url_for('static', filename='photos/' + p.photo) }}" alt="{{ p.name }}">
            </div>
        </a>
        <div class="post-content">
            <div class="post-title">
                <h2>{{ p.name }}</h2>
            </div>
            <div class="post-description">
                <p>{{ p.description }}</p>
            </div>
            <div class="post-meta">
                <p>{{ p.author_name }}</p>
            </div>
        </div>
    </div>

    {% endfor %}
    
{% endblock %}
