{% extends 'base.html' %}
{% block content %}

    {% for p in items %}

    <div class="post">
        <!-- <a href="{{ p.get_absolute_url }}">
            <div class="post-image">
                <img src="{{ p.photo.url }}" alt="{{ p.name }}">
            </div>
        </a> -->
        <div class="post-content">
            <div class="post-title">
                <h2>{{ p.name }}</h2>
            </div>
            <div class="post-description">
                <p>{{ p.description }}</p>
            </div>
            <div class="post-meta">
                Тут місце для автора
            </div>
        </div>
    </div>

    {% endfor %}
    
{% endblock %}
